body{
  font-family: OCR A Std, monospace;
}

.alert-error{
  color:#a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

}

.alert-success_msg{
  color:#3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.login-btn{
	background: #41B8F7;
	color: white;
	width: 150px;
	height: 45px;
	margin-left: 2%;
}

.logout_btn{
  background: #41B8F7;
  color: white;
  width: 90%;
  height: 45px;
  margin-left: 2%;
}

.dropdown-menu{
  width: 90%;
}

.buttons-login{
  width: 31em;
}

.banner{
  background:url('/imgs/banner_home.jpg') no-repeat;
  background-size: 100% 700px;
  border-radius: 0px;
  height: 80%;
  padding: 70px;
  margin-bottom: 0;
}

.search-label{
  font-family: Chalkdduster, fantasy;
  font-size: 40px;
  margin: auto;
}

.header-search{
  margin-top: 0;
}

.header-search h1{
  font-family: Chalkduster, fantasy;
  font-size: 70px;
}

.header-search h2{
  font-family: Chalkduster, fantasy;
  font-size: 25px;
}

.search-header{
  width: 40%;
  height: 60px;
  border-radius: 15px;
  opacity: 0.7;
}

.btn-search-header{
  background-color: #41B8F7;
  height: 50px;
  width: 180px;
  border-radius: 12px;
  color: white;
}

#about_us{
  width: 100%;
  background: transparent;
}

#about_us p{
  text-align: justify;
}

#aboutShow{
  font-size: 20px;
  color: #41B8F7;
}

#showLess{
  font-size: 20px;
  color: #41B8F7;
}

#about_us h1{
  font-size: 5em;
  font-family: Chalduster, fantasy;
}

#team{
  background: black;
  margin-bottom: 0;
}

#team h1{
  font-family: Chalkduster, fantasy;
  color: #41B8F7;
  font-size: 5em;
}

#team h3, h6, h4, h5{
  font-family: Chalkduster, fantasy;
  color: #41B8F7;
}

#team p {
  font-size: 15px;
  color: white;
}

#team hr{
  border: 0.5px solid #41B8F7;
  opacity: 0.5;
}

.jumbotron{
  margin-top: 0;
  border-radius: 0;
  background-color: #fff;
}

#services h1{
  font-family: Chalkduster, fantasy;
  color: #000;
  background-color: #fff;
  font-size: 5em;
}

.service-content{
  text-align: justify;
}

.card{
  box-shadow: 10px 10px 5px #aaaaaa;
}

#contact_us{
  background-color: #000;
  margin-bottom: 0;
}

#contact_us h2{
  font-family: Chalkduster, fantasy;
  color: #41B8F7;
  font-size: 5em;
}

#contact_us hr{
  border: 0.5px solid #41B8F7;
  opacity: 0.5;
}

#map{
  height:700px;
  width: 100%;
  border-radius:15px;
}

.content-card{
  border-radius: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

footer{
  background-color: #41B8F7;
  color: white;
  margin-top: 0;
}

.socials{
  background:transparent;
}

.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#6d6e71 ;
  color:#262626;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#262626 ;
  color:#6d6e71;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -moz-filter:  drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -ms-filter:     drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -o-filter:    drop-shadow(0 1px 10px rgba(0,0,0,.8));
  filter:       drop-shadow(0 1px 10px rgba(0,0,0,.8));   
}
.icon.social.fb i {
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}


.register{
  width: 50%;
  box-shadow: 5px 5px 5px 5px #252525;
  border-radius: 10px;
  padding:30px;
  background-color: #fff;
}

.login{
  width: 50%;
  box-shadow: 5px 5px 5px 5px #252525;
  border-radius: 10px;
  padding:30px;
  background-color: #fff;
}

#freelancer_header{
  font-family: Chalkduster, fantasy;
  font-size: 35px;
  color: #41B8F7;
}

.form-control{
  width: 100%;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
}
  .form-input:focus {
    box-shadow: 0 2px 0 0 #41B8F7;
  }
#freelancer{
  background-color: #000;
  margin-bottom: 0;
}

.add_job_header{
  font-family: Chalkduster, fantasy;
}

.add_job_header h1{
  font-size: 50px;
}

.add_jobs{
  width: 70%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.add_jobs textarea{
  background: transparent;
  transition: transform .2s;
  width: 80%;
}

.add_jobs input[type=text]{
  width: 80%;
  background:transparent;
  color: #41B8F7;
  transition: transform .2s;
}

.add_jobs textarea:focus{
  background: black;
  transform: scale(1.2);
  color: #41B8F7;
}

.add_jobs input[type=text]:focus{
  transform:scale(1.2);
}


.add_jobs ::placeholder{
  color: #41B8F7;
  opacity: 0.7;
}

.fb-page{
  border-radius: 10px !important;
}

.alert-danger{
  margin-bottom: 0;
  border:none;
  background-color: #fff;
  text-align: center;
  color: red;
  font-size: 40px;
  font-family: Chalkduster, fantasy;
}

#view_jobs{
  background: #000;
  margin-bottom: 0;
}

.list-group{
  width: 60%;
  box-shadow: 5px 5px 5px 5px #252525;
  font-family: OCR A Std, monospace;
  font-size: 35px;
  background-color: #41B8F7 !important;

}

.list-group-item:hover{
  background-color: #41B8F7;
}

.list-group a{
  transition: transform .2s;
  color: white;
}

.list-group a:hover{
  transform:scale(1.5);
}

#jobs{
  border:1px solid black;
  padding: 20px;
  border-radius: 2em;
  background-color: #fff;
  box-shadow: 10px 10px 5px #252525;
}

#jobs h1{
  font-size: 60px;
  font-family: Chalkduster, fantasy;
}

#jobs h2{
  font-size: 30px;
  font-family: Chalkduster, fantasy;
}

#jobs p{
  font-size: 20px;

}

#payment_amount{
  color: #41B8F7;
  text-decoration: underline;
}

.job_btn{
  height: 2.5em;
  width: 8em;
  transition: transform .2s;
}

.job_btn:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 5px #aaaaaa;
}

#job_title{
  color: #41B8F7;
}

#job_posted{
  color: #41B8F7;
}

.btn-animation{
  transition: transform .2s;
}

.btn-animation:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 5px #252525;
}

#edit_jobs{
  background-color: #000;
  padding: 20px;
  width: 40%;
  color: #41B8F7;
  border-radius: 2em;
  box-shadow: 10px 10px 5px #aaaaaa;
}

#edit_job_title h1{
  font-size: 50px;
  font-weight: bold;
  font-family: Chalkduster, fantasy;
}

.edit_job textarea{
  background: transparent;
  transition: transform .2s;
  color: #41B8F7;
  width: 80%;
}

.edit_job  input[type=text]{
  width: 80%;
  background:transparent;
  color: #41B8F7;
  transition: transform .2s;
}

.edit_job textarea:focus{
  background: transparent;
  transform: scale(1.2);
  color: #41B8F7;
}

.edit_job input[type=text]:focus{
  transform:scale(1.2);
}

.label{
  color: #41B8F7;
}

.edit_job ::placeholder{
  color: #41B8F7;
  opacity: 0.7;
}

.edit_job label {
  color: white;
  text-decoration: underline;
  text-align: left;
  font-size: 22px;
}

.freelancer_search{
  font-family: Chalkduster, fantasy;

}

.search-list{
  background: black;
  border-radius: 10px;
  width: 80%;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.search-list .list-group-item{
  background: black !important;
  width: 60% !important;
}

.search-list a{
  font-size: 25px !important;
  color: #41B8F7;
  font-family: OCR A Std, monospace;
  transition: transform .2s !important;
}

.search-list .list-group-item a:hover{
  transform:scale(1.1) !important;
}

.search-list hr{
  border: 1px solid white;
  opacity: 0.5;
  width: 50%;
}

#freelancer_details{
  padding: 20px;
  font-family: OCR A Std, monospace;
  background: white;
  border-radius: 10px;

}

#freelancer_details h5{
  font-family: OCR A Std, monospace;
  color: black;
}

#freelancer_details h2{
  font-family: OCR A Std, monospace;
  color: #41B8F7;
  font-size: 25px;
}

.freelancer{
  font-family: Chalkduster, fantasy;
  color: white;
}

#freelancerProfile{
  background: #000;
  margin-top: 0;
  margin-bottom: 0;
}
