extends layout

block content
  h1 #{title}
  form(method='POST', action='/jobs/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Body
      textarea.form-control(name='body')
    #form-group
      label Amount
      textarea.form-control(name='amount')
        
    input.btn.btn-primary(type='submit', value="Submit")
