extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#' style="margin-left:3%;") done
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
          span.sr-only (current)
        li.nav-item
          a.nav-link(href='/#about_us') About
        li.nav-item
          a.nav-link(href='/#services') Services
        li.nav-item
          a.nav-link(href='/tutors/viewtutors') Tutors
        li.nav-item
          a.nav-link(href='/#team') The Team
        li.nav-item
          a.nav-link(href='/#contact_us') Contact Us
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  .container.add_job_header
    br
    center
      h1.animation-element.slide-left Welcome #{employer.name}!
      br
      h2.animation-element.slide-left Post A New Job
      hr
      br
  .container.add_jobs.animation-element.slide-left
    br
    center
      form(method='POST', action='/jobs/addjob')
        .form-group.animation-element.slide-left
          input.form-control.form-input(name='title', type='text' placeholder="Job Title")
        br
        .form-group.animation-element.slide-left
          input.form-control.form-input(name='postedby', type='text' placeholder="Posted By")            
        br  
        .form-group.animation-element.slide-left
          textarea.form-control.form-input(name='body' placeholder="Job Description & Requirements")
        br
        .form-group.animation-element.slide-left
          textarea.form-control.form-input(name='amount' placeholder="Renumeration")
        br
        .form-group.animation-element.slide-left
          textarea.form-control.form-input(name='assignedto' placeholder="Assigned To")
        br
        center
          input.btn.login-btn.btn-animation.animation-element.slide-left(type='submit', value="Post Job")
          button.btn.login-btn.btn-animation.animation-element.slide-left(type="button" data-toggle="modal" data-target="#exampleModal") Terms      
        br
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  br
  br
  footer
    br
    .container.animation-element.slide-left
      center
        table
          tr
            td
              .icon.social.fb
                i.fa.fa-facebook
            td
              .icon.social.in
                i.fa.fa-linkedin
            td
              .icon.social.tw
                i.fa.fa-twitter
    br
    .container.animation-element.slide-left
      .row
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text
