extends layout

block content
  .jumbotron(id="freelancer")
    br
    .container
      center
        h1(id="freelancer_header") Freelancer's Registration
        br
    .container.register
      form.freelancer_form_register(method='POST', action='/freelancers/register')
        .form-group
          input.form-control.form-input(name='name', type='text' placeholder="Name")
        .form-group
          input.form-control.form-input(placeholder="Email" name='email', type='text')
        .form-group
          input.form-control.form-input(placeholder="Username" name='username', type='text')
        .form-group
          input.form-control.form-input(placeholder="Contact" name='contact', type='text')
        .form-group
          input.form-control.form-input(name='password', type='password' placeholder="Password")
        .form-group
          input.form-control.form-input(name='password1', type='password' placeholder="Confirm Password")
        .form-group
          input.form-control.form-input(name='location', type='text', placeholder="Enter your location")
        .form-group
          input.form-control.form-input(name='age', type='text' placeholder="Age")
        .form-group
          input.form-control.form-input(name='profession', type='text' placeholder="Profession")
        .form-group
          input.form-control.form-input(name='specializaton', type='text', placeholder="Please enter your skills here. Use keywords such as 'Photography, Web design'")
          br
          center
            input.btn.login-btn(type='submit', value="REGISTER")
    br
    br
  footer
    br
    .container
      center
        table
          tr
            td
              .icon.social.fb
                i.fa.fa-facebook
            td
              .icon.social.in
                i.fa.fa-linkedin
            td
              .icon.social.tw
                i.fa.fa-twitter
    br
    .container 
      .row
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text
