extends layout

block content
	.jumbotron(id="about_us")
		.container
			center
				h1 About Us 
				hr
				p
					| Freelancing has become a buzz amongst students and individuals who don’t mind working a few hours to earn a littl alongside their studies/work. People of our country have to use an international platform if they ever require the help of a freelancer. Our solution, ‘done’, comes as a sign of relief for the people. Done provides user with the opportunity to find the perfect person for their work. ‘done’ serves as a bridge between talent and technology, hence providing the user with the best experience. Freelancers from a wide range of categories can be found through ‘done’, and hired for the specific task, ie.
				p(id="aboutShow")
					em
						| Show More
				p(id="about_us_2")
					| A birthday party in the evening? Simply search for a photographer and book them for the event in the morning. Payment is secured as well as transactions happen only when the job is completed. Freelancers can breathe tension free as well, as the employer pays the amount to the system when hiring them. Students can also utilize our system to its full extent as they will be able to hire tutors for an urgent class/lecture, when they are running on a tight schedule.
					span(id="showLess")
						br
						em
							| Show Less
	.jumbotron(id="team")
		center
			h1 Presenting The Team
			br
			h5 A group of specialized developers, designers and content creators have come together bringing in their respective talents from their fields to provide the consumers with what they deserve and need.
			hr
			br
		.row(style="")
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/abrar.jpg", height=250)
				br
				br
				h3 Abrar Hasin Kamal
				h6 Backend Developer
				p He is dynamic and is the person behind the ideas. Abrar mainly specializes with the backend portion of the application and is accoustomed to most backend languages used.
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/shadman.jpg", height=250)
				br
				br
				h3 Shadman Fahim Ahmad
				h6 Frontend Developer
				p Shadman mainly specializes in the frontend development of the application, having a keen eye in designing and functionality he is considered to be the creative and responsive person of the team like his web applications.
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/rawfun.jpg", height=250, width=250)
				br
				br
				h3 Rawfun Hoque Niloy
				h6 Junior Backend Developer
				p Rawfun is the multi talented person of the group he aids both in the development of the backend of the application as well as the frontend.
		br
		.row
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/sojib.jpg", height=250)
				br
				br
				h3 Shake Sadi Shojib
				h6 Database Developer
				p Sojib is the database guru of the team he is in charge of integrating the application with the noSQL database.
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/mostofa.jpg" height=250, width=250)
				br
				br
				h3 Mostofa Kamal
				h6 Graphics Designer
				p Having worked with image designing applications previously Mostofa is the person behind the creative designs of the banners, logo and other images of the application.
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/imran.jpg" height=250, width=250)
				br
				br
				h3 Md. Imran Hasan
				h6 Junior Graphics Designer
				p Having specialized in graphics designing multiple times before Imran aids in the design of banners and other images used in the application.
			.col(style="text-align:center;")
				img.rounded-circle(src="/imgs/anjan.jpg" height=250, width=250)
				br
				br
				h3 Anjan Sarkar
				h6 Content Creator
				p Leaning in on the literary side more Anjan specializes in creating the literature of the web application.
	.jumbotron(id="services")
		.container
			center
				h1 Our Services
				br
				h7 We being the only one of its kind in the country provide the following top-notch services to our clients with utter transperancy. Come have a look at what we offer and we can gaurantee that you too will join our community.
				hr
		.container
			.row(style="margin-left:1%;")
				.col-sm
					.card(style="width:20rem;")
						img.card-img-top(src="/imgs/services_freelancer.png" alt="Freelancer" height=190)
						.card-body
							h5.card-title FREELANCERS
							p.service-content Freelancers lack the proper platform for being employed, a place to exhibit their ideas and portfolios, done provides them that platform
							button.btn.login-btn(type="button" data-toggle="collapse" data-target="#freelancerCollapse" aria-expanded="false" aria-controls="collapseExample") Show More
				.col-sm
					.card(style="width:20rem;")
						img.card-img-top(src="/imgs/service_tutors.png" alt="Freelancer" height=190)
						.card-body
							h5.card-title TUTORS
							p.service-content There has been a constant grit between tutors and parents, we provide parents the opportunity to choose the perfect tutor.
							button.btn.login-btn(type="button" data-toggle="collapse" data-target="#tutorCollapse" aria-expanded="false" aria-controls="collapseExample") Show More
				.col-sm
					.card(style="width:20rem;")
						img.card-img-top(src="/imgs/services_employers.jpg" alt="Freelancer" height=190)
						.card-body
							h5.card-title EMPLOYERS
							p.service-content There has been a constant grit between tutors and parents, we provide parents the opportunity to choose the perfect tutor.
							button.btn.login-btn(type="button" data-toggle="collapse" data-target="#employerCollapse" aria-expanded="false" aria-controls="collapseExample") Show More
			br
			.collapse(id="freelancerCollapse")
				.card.card-body.content-card
					h5.card-title More on Freelancers
					hr
					p Instead of bidding on jobs freelancers in this platform are chosen by their employers based on their ratings, experience and portfolios. They attain ratings from their past jobs and upload their portfolios to enrichen their profiles. Once the freelancer completes the task at hand they are paid by done.
			br
			.collapse(id="tutorCollapse")
				.card.card-body.content-card
					h5.card-title More on Tutors
					hr
					p Bridging the gap between parents and tutors done brings them the opportunity to choose and test their compatibility with each other, after the initial service fee has been paid the rest of the monthly payments are paid directly.
			br
			.collapse(id="employerCollapse")
				.card.card-body.content-card
					h5.card-title More on Employers
					hr
					p Employers are given the freedom to choose their own freelancers for their jobs. They are able to assess the freelancers based mainly on their portfolios and ratings. Once they assign a freelancer they first have to complete the payment to the company, the company holds the payment till the freelancer completes the job. Once the process is complete the employer must rate the freelancer.
	.jumbotron(id="contact_us")
		center
			h2 Contact Us
			hr
		.row(style="margin-left:5%;")
			.col
				div(id="map")
				script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDOCaOMfif19Q8M5G3mBXniecf8BW2PSl4&callback=initMap')
			.col
				div(class="fb-page" data-href="https://www.facebook.com/Done-1645889158779880/" data-tabs="timeline, messages" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="margin-left:6%;")
					blockquote(cite="https://www.facebook.com/Done-1645889158779880/" class="fb-xfbml-parse-ignore")
						a(href="https://www.facebook.com/Done-1645889158779880/")
	footer
		br
		.container
			center
				table
					tr
						td
							.icon.social.fb
								i.fa.fa-facebook
						td
							.icon.social.in
								i.fa.fa-linkedin
						td
							.icon.social.tw
								i.fa.fa-twitter
		br
		.container 
			.row
				.col
					p this a text
				.col
					p this a text
				.col
					p this a text
				.col
					p this a text

		hr
		.container
			center
				| copyright done 2018
		br