extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#' style="margin-left:3%;") done
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Home 
          span.sr-only (current)
        li.nav-item
          a.nav-link(href='/#about_us') About
        li.nav-item
          a.nav-link(href='/#services') Services
        li.nav-item
          a.nav-link(href='/tutors/viewtutors') Tutors
        li.nav-item
          a.nav-link(href='/#team') The Team
        li.nav-item
          a.nav-link(href='/#contact_us') Contact Us
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  .jumbotron(style="background:#000; margin-bottom:0;")
    .container#jobs
      center
        h1.animation-element.slide-left Job Title: 
          b#job_title #{job.title}
        h2.animation-element.slide-left Posted by: 
          b#job_posted #{postedby}
      hr
      br
      p.animation-element.slide-left= job.body
      p.animation-element.slide-left Payment 
        b#payment_amount #{job.amount}
      br
      hr
      if employer
        if employer.id == job.postedby  
          center
            a.btn.btn-light.job_btn.animation-element.slide-left(href='/jobs/edit/'+job._id) Edit Job
            a.btn.btn-danger.delete-article.job_btn.animation-element.slide-left(href='#', data-id= job._id, style="margin-left:2%;") Delete Job
          br
      else if freelancer    
          a.btn.btn-danger.delete-article(href='#', data-id= job._id) Apply
  footer
    br
    .container.animation-element.slide-left
      center
        table
          tr
            td
              .icon.social.fb
                i.fa.fa-facebook
            td
              .icon.social.in
                i.fa.fa-linkedin
            td
              .icon.social.tw
                i.fa.fa-twitter
    br
    .container.animation-element.slide-left
      .row
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text
        .col
          p this a text

    hr
    .container
      center
        | copyright done 2018
    br
    br
