doctype html
html
  head
    title done
    script(src="http://code.jquery.com/jquery-2.1.0.min.js")
    script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='/js/main.js')
    link(rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet" href='/css/style.css')
    
  body
    .container
      nav.site-header.sticky-top.py-1
    .container.d-flex.flex-column.flex-md-row.justify-content-between
      a.py-2(href='/')
        svg.d-block.mx-auto(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
          circle(cx='12', cy='12', r='10')
          line(x1='14.31', y1='8', x2='20.05', y2='17.94')
          line(x1='9.69', y1='8', x2='21.17', y2='8')
          line(x1='7.38', y1='12', x2='13.12', y2='2.06')
          line(x1='9.69', y1='16', x2='3.95', y2='6.06')
          line(x1='14.31', y1='16', x2='2.83', y2='16')
          line(x1='16.62', y1='12', x2='10.88', y2='21.94')
        if employer    
          a.py-2.d-none.d-md-inline-block(href='/employers/logout') Logout
          a.py-2.d-none.d-md-inline-block(href='/jobs/add') Add job
          a.py-2.d-none.d-md-inline-block(href='/jobs/view') view jobs  

        
        else  
          
          a.py-2.d-none.d-md-inline-block(href='/employers/register') Register Employer
          a.py-2.d-none.d-md-inline-block(href='/employers/login') Login Employer
          a.py-2.d-none.d-md-inline-block(href='/freelancers/register') Register Freelancer
          a.py-2.d-none.d-md-inline-block(href='/freelancers/login') Login Freelancer

    .container
      !=messages('message', locals)
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content
        br
        hr
        footer
          p Copyright &copy; 2018
